.button {
  &__button__no-stock {
    background: gray;
    color: darkgray;
  }
}

.button-checkout-alert {
  background-color: #ff4500 !important;
  color: $white !important;

  &:hover {
    background-color: #d0b59a !important;
  }
}