/* #region react select input */

// react select inputs
.css-art2ul-ValueContainer2 {
  height: 45px;
}

.css-1u9des2-indicatorSeparator {
  height: 25px;
  align-self: center;
}

.css-4xgw5l-IndicatorsContainer2 {
  height: 45px;
  align-items: center;
}

// select indicator container
.css-1xc3v61-indicatorContainer {
  margin-right: 0;
}

// active state
.css-t3ipsp-control {
  border-color: #333 !important;
  outline: none !important;
  box-shadow: 0 0 0 1px #33333368;
}

// inner input
.css-w9q2zk-Input2 {
  height: 45px;
  margin: 0 !important;
  padding: 0 !important;
}

/* #endregion */